body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 /* GRID */
#tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 300px;
  margin: 0 auto;
}

.celula {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ddd;
  font-size: 48px;
  cursor: pointer;
  transition: 0.2s;
}

.celula:hover {
  background-color: #9b9b9b;
}

/* Estilos para os jogadores X e O */
.x {
  color: #f00;
}

.o {
  color: #00f;
}